/*commons*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
}
/*header start*/
header{
	padding-top: 40px;
	padding-bottom: 145px;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/header_bg.jpg);
	background-size: cover;
	background-position: center;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	/*border: 1px solid red;*/
}

.top_header {
	overflow: hidden;
}
.logo {
	width: 15%;
	float: left;
}
.logo img{
	width: 100%;
}
.menu {
	width: 80%;
	float: right;
}
.menu ul{
	list-style-type: none;
	float: right;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	margin: 0 13px;
	color: #f3f3f3;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 1px solid transparent;
	transition: 0.3s;
}
.menu ul li a:hover{
	border-bottom: 1px solid #f3f3f3;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.banner {
	margin-top: 180px;
	width: 44%;
}
.banner h1,.banner h2{
	font-size: 32px;
	color: #f3f3f3;
	text-transform: uppercase;
}
.banner p{
	margin:25px 0;
	font-size: 20px;
	font-weight: 300;
	color: #f3f3f3;
}
.banner p span{
	font-weight: 600;
	text-transform: uppercase;
}
.banner input{
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #383838;
	width: 220px;
	height: 35px;
	outline: none;
	border: none;
}
.banner button{
	font-family: 'Montserrat', sans-serif;
	color: #ecf0f1;
	width: 150px;
	height: 35px;
	background-color: #f7564b;
	border: 0;
	outline: 0;
	cursor: pointer;
	transition: 0.3s;
}
.banner button:hover{
	background-color: #F44336;
}
/*header end*/
